In [1]:
import os
while not os.path.isfile("README.md"):
    %cd ..

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from lib.local_utils import *
from lib.preprocess import get_data

/home/nakagawa/fdua_finance_competition

In [2]:
X_train, y_train, X_test = get_data()

In [3]:
X_train.head()

,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural
0,163,21,1.0,0,0,1,N,N,31-Jan-98,0,22-Sep-06,2006,PHOENIX,AZ,SD,"$80,000.00","$80,000.00","$68,000.00",0
1,84,6,1.0,4,0,0,0,N,31-Oct-93,62,30-Jun-92,1992,MCALESTER,OK,OK,"$287,000.00","$287,000.00","$229,600.00",0
2,242,45,1.0,4,90,0,N,N,31-Aug-01,42,18-Apr-01,2001,HAWTHORNE,NJ,NJ,"$31,983.00","$30,000.00","$15,000.00",1
3,237,4,1.0,0,0,0,N,N,31-Aug-07,33,6-Oct-03,2004,NASHVILLE,TN,SD,"$229,000.00","$229,000.00","$229,000.00",0
4,184,0,1.0,0,0,0,N,N,8-Jun-83,0,17-Dec-99,2000,POMONA,CA,CA,"$525,000.00","$525,000.00","$393,750.00",0

| ヘッダ名称          | 値例       | データ型 | 説明                                       |
|-------------------|------------|---------|--------------------------------------------|
| City              | BILLINGS   | str     | 借り手の会社の所在地（市）                    |
| State             | FL         | str     | 借り手の会社の所在地（州）                    |
| BankState         | IL         | str     | 貸し手の所在地（州）                         |
| Sector(*)         | 0          | int     | 産業分類コード(詳細は後述)                 |
| Term              | 120        | int     | 融資の期間（月）                             |
| NoEmp             | 2          | int     | 融資を受ける前の事業の従業員数               |
| NewExist          | 1.0        | float   | 新規ビジネスかどうか (*1 = 既存のビジネス、2 = 新規ビジネス) |
| CreateJob         | 1          | int     | 企業が融資資金を使用して創出すると予想される雇用の数 |
| RetainedJob       | 0          | int     | 融資を受けたことで企業が維持すると予想される雇用の数    |
| FranchiseCode     | 21         | int     | どのブランドのフランチャイズであるかを識別する一意の5桁のコード (*0または1は非フランチャイズを意味する) |
| UrbanRural        | 1          | int     | *1 = 都市部、2 = 田舎、0 = 未定義              |
| RevLineCr         | N          | str     | リボルビング信用枠か (*Y = はい、N = いいえ)     |
| LowDoc            | N          | str     | 15万ドル未満のローンを1ページの短い申請で処理できるプログラムか (*Y = はい、N = いいえ) |
| DisbursementDate  | 12-Jan-05  | str     | 融資の支払日                                |
| DisbursementGross | $80,000.00 | str     | 銀行によって支払われた金額                    |
| GrAppv            | $108,000.00| str     | 銀行によって承認されたローンの総額             |
| SBA_Appv          | $102,000.00| str     | SBAが保証する承認されたローンの金額           |
| ApprovalDate      | 30-Sep-94  | str     | 米国中小企業庁の承認日                       |
| ApprovalFY        | 1994       | int     | 承認された財務年度                           |
| MIS_Status        | 1          | int     | ローンの状態(目的変数) (*0 = 債務不履行、1 = 完済) |

*Sectorについて*

| カテゴリ | 意味                                | カテゴリ | 意味                            |
|---------|-------------------------------------|---------|---------------------------------|
| 11      | 農業、林業、漁業、狩猟               | 53      | 不動産、賃貸・リース             |
| 21      | 鉱業、採石業、石油・天然ガス採掘      | 54      | 専門的、科学的、技術的サービス    |
| 22      | 公共事業（電力、ガス、水道）          | 55      | 企業経営管理                    |
| 23      | 建設業                              | 56      | 行政支援、廃棄物・浄化サービス    |
| 31~33   | 製造業                              | 61      | 教育サービス                    |
| 42      | 卸売業                              | 62      | 医療、社会援助                   |
| 44~45   | 小売業                              | 71      | 芸術、娯楽、レクリエーション       |
| 48~49   | 運輸業、倉庫業                       | 72      | 宿泊、飲食サービス                |
| 51      | 情報産業                            | 81      | その他（公共行政を除く）           |
| 52      | 金融、保険                           | 92      | 公共行政                          |